* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255, 255, 255, 1);
    max-width: 1440px;
  }

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

:root {
    --iris: #4d5ae5;
    --navyblue: #2e2f42;
    --black: black;
    --ocean: #404bbf;
    --white: #ffffff;
    --slate: #434455;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --green: #31d0aa;
    --lightslate: #8e8f99;
    --navybluemodal: #2e2f42;
    --grey: #2e2f42;
    --dairy: #fcfcfc;
  }

.header {
    background-color: var(--white);
    border-bottom: 1px solid var(--cornflower) ;
}

.nav-ul {
    color: var(--navyblue);
    width: 1;
    height: 1;
}

.nav-li-menu {

    color: var(--navyblue);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.nav-li-menu:hover, .addr-link:hover {
    color: var(--ocean);
}

.addr-ul {
    color: var(--slate);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.addr-link {

    color: var(--slate);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}


.hero-section {
    width: 1440px;
    height: 225px;
    flex-shrink: 0;

    background: var(--navyblue);
}
.header01 {
 
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;

    color: var(--white);
    text-align: center;
}

h2, h3{
    text-align: left;
}
.button-hero{
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}

.sec-fea-title{
    background-color: var(--white);
    color: var(--navyblue);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;  
}

.sec-fea-desc{
    background-color: var(--white);
    color: var(--slate);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;  
}

.section03 {
    background-color: var(--cloud);
}

.section03-title{
    background-color: var(--cloud);
    color: var(--navyblue);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;  
}
.section03-names{
    background-color: var(--cloud);
    color: var(--slate);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 5400;
    line-height: 24px;  

    text-align: center;
}
.section03-desc{
    background-color: var(--cloud);
    color: var(--slate);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;  

    text-align: center;
    letter-spacing: 0.32px;
}



button {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    border: 1px solid var(--cornflower);
    background: var(--cloud);
}

.filter-row {
    align-items: flex-start;
    gap: 24px;
}

.footerlogo{
    color: var(--cloud);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footertext{
    width: 264px;
    color: var(--cloud);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}

footer {
    width: 1440px;
    height: 100px;
    flex-shrink: 0;

    background: var(--navyblue);
}